<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table width="50%" border=1>
	<tr>
		<td>ID编号</td>
		<td>姓名</td>
		<td>性别</td>
		<td>班级</td>
		<td>年龄</td>
		<td><a th:href="@{/student/SelectAllStu}">点击返回</a></td>
	</tr> 
	<tr th:each="student : ${list}">
		<td th:text="${student.id}"></td>
		<td th:text="${student.name}"></td>
		<td th:text="${student.sex}"></td>
		<td th:text="${student.classname}"></td>
		<td th:text="${student.age}"></td>
	</tr>
	
	
	</table>
</body>
</html>