<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>adminpage</title>
		<link rel="stylesheet" type="text/css" th:href="@{css/webuploader.css}"/>
		<link rel="stylesheet" th:href="@{css/emsList.css}"/>
		<script type="text/javascript" th:src="@{js/jquery-1.8.3.min.js}" ></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">文思海辉</a>
						</h1>
					</div>
					<div>						
					</div>
					<div id="navigation">
						<p>		
						<div id="picker">选择文件</div>
						<input id="ctlBtn" type="button"   class="btn btn-default" value="导入TM绩效" />
						<input id="tmDataBtn" type="button" onclick="showEmp();"  class="btn btn-default" value="查看普通组员数据" />
						</p>
						<div id="thelist" class="uploader-list"></div>
					</div>
					
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Welcome!
					</h1>
					<h1>
						您可在此页面查看下属TM的绩效信息
					</h1>
					<!--/*@thymesVar id="user" type="com.entity.User"*/-->
					<table class="table">
						<tr class="table_header">
							<td style="width: 50px">
								姓名
							</td>
							<td>
								TL
							</td>
							<td>
								个人评级
							</td>
							<td>
								评语
							</td>
							<td>
								个人考核总得分
							</td>
							<td>
								TL评分(30)
							</td>
							<td>
								CTO评分(10)
							</td>
							<td>
								全勤(3)
							</td>
							<td>
								培训讲师(3-5)
							</td>
							<td>
								团队无漏测(3)
							</td>
							<td>
								团队个人日均有效BUG数 大于 3(3)
							</td>
							<td>
								团队有人获得个人有效BUG数排名奖励(3)
							</td>
							<td>
								获得团队人均有效BUG数排名奖励(5)
							</td>
							<td>
								对项目有较大贡献(1-15)

							</td>
							<td>
								客户表扬(1-20)

							</td>
							<td>
								个人迟到数>3(-3)

							</td>
							<td>
								团队人均迟到数大于3（-3）
							</td>
							<td>
								团队个人日均有效BUG数小于3（-5）
							</td>
							<td>
								BUG漏测
								（-3-10）
							</td>
							<td>
								客户投诉
								（-3-20）
							</td>
							<td>
								信息安全
								（-30）
							</td>
							<td>
								个人迟到次数
							</td>
							<td>
								是否漏测
							</td>
							<td>
								团队名称
							</td>
							<td>
								团队有效BUG数
							</td><td>
							团队人数
						</td>
							<td>
								自然工作日
							</td>

							<td>
								人平均有效BUG数
							</td>
							<td>
								是否获得双月团队人均有效BUG数排名奖励
							</td>
							<td>
								迟到总数
							</td><td>
							迟到人均数
						</td>
							<td>
								团队漏测数
							</td>

							<td>
								团队是否漏测
							</td>
							<td>
								团队双月个人是否获得
							</td>
							<td>
								团队双月个人获得名单
							</td>
						</tr>
						<tr class="row1" th:each="tmInfos:${tmPerformanceInfos}">
							<td th:text="${tmInfos.tmpfe_user_name}"></td>
							<td th:text="${tmInfos.tmpfe_tlName}"></td>
							<td th:text="${tmInfos.tmpfe_rating}"></td>
							<td th:text="${tmInfos.tmpfe_tlComment}"></td>
							<td th:text="${tmInfos.tmpfe_totalScore}"></td>
							<td th:text="${tmInfos.tmpfe_tlScore}"></td>
							<td th:text="${tmInfos.tmpfe_ctoScore}"></td>

							<td th:text="${tmInfos.tmpfe_fullAtt}"></td>
							<td th:text="${tmInfos.tmpfe_lecturer}"></td>
							<td th:text="${tmInfos.tmpfe_noLeakageTeam}"></td>
							<td th:text="${tmInfos.tmpfe_overValidBugTeam}"></td>
							<td th:text="${tmInfos.tmpfe_bugRanking}"></td>
							<td th:text="${tmInfos.tmpfe_bugAvgRanking}"></td>
							<td th:text="${tmInfos.tmpfe_contribution}"></td>
							<td th:text="${tmInfos.tmpfe_praise}"></td>


							<td th:text="${tmInfos.tmpfe_tardiness}"></td>
							<td th:text="${tmInfos.tmpfe_teamTardiness}"></td>
							<td th:text="${tmInfos.tmpfe_lessValidBug}"></td>
							<td th:text="${tmInfos.tmpfe_leakage}"></td>
							<td th:text="${tmInfos.tmpfe_complaint}"></td>
							<td th:text="${tmInfos.tmpfe_InfoSafety}"></td>

							<td th:text="${tmInfos.tmpfe_latenessNum}"></td>
							<td th:text="${tmInfos.tmpfe_TMleakageBool}"></td>

							<td th:text="${tmInfos.tmpfe_teamName}"></td>
							<td th:text="${tmInfos.tmpfe_bugRankingNum}"></td>
							<td th:text="${tmInfos.tmpfe_number}"></td>
							<td th:text="${tmInfos.tmpfe_workingDay}"></td>
							<td th:text="${tmInfos.tmpfe_bugAvgPer}"></td>
							<td th:text="${tmInfos.tmpfe_dobMonthBugRanking}"></td>
							<td th:text="${tmInfos.tmpfe_teamAlllatenessNum}"></td>
							<td th:text="${tmInfos.tmpfe_teamAlllatenessAvg}"></td>
							<td th:text="${tmInfos.tmpfe_teamLeakageNum}"></td>
							<td th:text="${tmInfos.tmpfe_teamLeakageBool}"></td>
							<td th:text="${tmInfos.tmpfe_teamDobMonthRaward}"></td>
							<td th:text="${tmInfos.tmpfe_teamDobMonthRawardName}"></td>

						</tr>

					</table>

				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					联系管理员（企业微信）：t_wshwang_ex(王仕衡)
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{js/jquery-1.8.3.min.js}"></script>
	<script type="text/javascript" th:src="@{js/webuploader.js}"></script>
	<script type="text/javascript" th:src="@{js/tminfo_upload_file.js}"></script>
</html>
