<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>emplist</title>
		<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/>
		<link rel="stylesheet" th:href="@{css/emsList.css}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
						
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">文思海辉-员工绩效</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Welcome!
					</h1>
					<!--/*@thymesVar id="user" type="com.entity.User"*/-->
					<table class="table">
						<tr class="table_header">
							<td style="width: 50px">
								姓名
							</td>
							<td>
								评级
							</td>
							<td>
								个人总分
							</td>
							<td>
								TM评分
							</td>
							<td>
								TL评分
							</td>
							<td>
								全勤(3)
							</td>
							<td>
								讲师(3-5)
							</td>
							<td>
								无漏测(3)
							</td>
							<td>
								个人有效BUG数大于等于3(3)
							</td>
							<td>
								个人有效BUG数排名第一奖励(5)
							</td>
							<td>
								对项目有较大贡献（1-15）
							</td>
							<td>
								客户表扬 （1-20）
							</td>
							<td>
								个人迟到数大于3（-3）
							</td>
							<td>
								个人有效BUG数小于(-3)
							</td>
							<td>
								BUG漏测
								（-3-10）
							</td>
							<td>
								客户投诉
								（-3-20）
							</td>
							<td>
								信息安全
								（-30）
							</td>
							<td>
								1-3月个人有效BUG总数
							</td>
							<td>
								1-3月工作日
							</td>
							<td>
								个人日均有效BUG数
							</td>
							<td>
								个人迟到次数
							</td>
							<td>
								是否漏测
							</td>
							<td>
								备注（特殊项加分/扣分）说明
							</td>

						</tr>
						
						<tr class="row1" th:each="performanceInfo:${performanceInfos}">
							<td th:text="${performanceInfo.pfe_user_name}"></td>
							<td th:text="${performanceInfo.pfe_rating}"></td>
							<td th:text="${performanceInfo.pfe_totalScore}"></td>
							<td th:text="${performanceInfo.pfe_tmScore}"></td>
							<td th:text="${performanceInfo.pfe_tlScore}"></td>

							<td th:text="${performanceInfo.pfe_fullAtt}"></td>
							<td th:text="${performanceInfo.pfe_lecturer}"></td>
							<td th:text="${performanceInfo.pfe_noLeakage}"></td>
							<td th:text="${performanceInfo.pfe_overValidBug}"></td>
							<td th:text="${performanceInfo.pfe_bugRanking}"></td>
							<td th:text="${performanceInfo.pfe_contribution}"></td>
							<td th:text="${performanceInfo.pfe_praise}"></td>

							<td th:text="${performanceInfo.pfe_tardiness}"></td>
							<td th:text="${performanceInfo.pfe_lessValidBug}"></td>
							<td th:text="${performanceInfo.pfe_leakage}"></td>
							<td th:text="${performanceInfo.pfe_complaint}"></td>
							<td th:text="${performanceInfo.pfe_InfoSafety}"></td>

							<td th:text="${performanceInfo.pfe_bugRankingNum}"></td>
							<td th:text="${performanceInfo.pfe_workingDay}"></td>
							<td th:text="${performanceInfo.pfe_bugPerDay}"></td>
							<td th:text="${performanceInfo.pfe_LatenessNum}"></td>
							<td th:text="${performanceInfo.pfe_missing}"></td>

							<td th:text="${performanceInfo.pfe_tmComment}"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					联系管理员（企业微信）：t_wshwang_ex(王仕衡)
				</div>
			</div>
		</div>
	</body>
</html>
