<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" th:href="@{css/style.css}"/>
		<script type="text/javascript" src="js/login.js"></script>
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="topheader">
							<h1 id="title">
								<a href="#" style="margin-left: 280px;">激活失败</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>

					<h1 style="margin-left: 280px;">
						联系管理员（企业微信）：t_wshwang_ex(王仕衡)
					</h1>

				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
